<div class="step_left">
  <img src="../../assets/images/logo.png" alt="logo" />
  <h2>Get started</h2>
  <ul class="steps">
    <li class="steps_done">
      <span><img src="../../assets/icons/done.svg" alt="done icon" /></span>
      Valid your phone
    </li>
    <li class="steps_active">
      <span><img src="../../assets/icons/done.svg" alt="done icon" /></span>
      Tell about yourself
    </li>
    <li class="steps_disabled">
      <span><img src="../../assets/icons/done.svg" alt="done icon" /></span>
      Tell about your company
    </li>
    <li class="steps_disabled">
      <span><img src="../../assets/icons/done.svg" alt="done icon" /></span>
      Invite Team Members
    </li>
  </ul>
</div>
