/* input */
.input__wrapper {
  width: 100%;
}
.input__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;
}
.input__label {
  font-size: var(--font-size-sm);
  color: var(--gray);
  font-weight: 700;
}
.input__field {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: var(--font-size-base);
  border: 1px solid var(--gray);
  border-radius: 0.875rem;
  outline: none;
  transition: border-color 0.3s ease;
  box-shadow: 0px 0px 1px 2px transparent;
}
.input__field:focus {
  border-color: var(--primary);
  box-shadow: 0px 0px 1px 2px
    color-mix(in srgb, var(--primary) 30%, transparent);
}
.input__field::placeholder {
  color: var(--gray);
  font-size: var(--font-size-sm);
}
/* show */
.password--wrapper {
  width: 100%;
  position: relative;
}
.password--btn {
  position: absolute;
  top: 2.3125rem;
  right: 0.8rem;
  background: var(--white);
  padding: 0 0.5rem;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.options--wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show-password img {
  filter: invert(39%) sepia(83%) saturate(749%) hue-rotate(169deg)
    brightness(91%) contrast(85%);
}