:root {
  /* Ranglar */
  --primary: #3f8cff;
  --danger: #f65160;
  --success: #00d097;
  --warning: #fdc748;
  --gray: #7d8592;
  --violet: #c418e6;
  --ink: #6d5dd3;
  --white: #ffffff;

  /* Typography */
  --font-family: "Nunito Sans", sans-serif;
  --font-text-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 2.5rem; /* 40px */
}
