.login--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  min-height: 42rem;
}
.login_left {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.left--width {
  width: 100%;
  max-width: 31.25rem;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: start;
  justify-content: center;
}
.left_logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}
.left_logo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.left_logo h2 {
  color: var(--white);
  font-size: var(--font-size-3xl);
  font-weight: 700;
}
.left_text {
  color: var(--white);
  font-size: var(--font-size-5xl);
  line-height: 3.5rem;
}
.left_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.login_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.login_right h1 {
  font-size: var(--font-size-2xl);
  font-weight: 700;
}
.login_form {
  width: 100%;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.password--wrapper {
  width: 100%;
  position: relative;
}
.password--btn {
  position: absolute;
  top: 2.3125rem;
  right: 0.8rem;
  background: var(--white);
  padding: 0 0.5rem;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.options--wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
